<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter and Order in Angular JS</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
    <div ng-app="example" ng-controller="filterController">
        Enter Filter for Color : <input name="color" type="text" ng-model="colorName">
        <ul>
            <li ng-repeat="c in data.colors | filter: colorName">
                {{ c.color +" : "+c.value }}
            </li>
        </ul>
    </div>
</body>
<script>
    var mainapp = angular.module("example", []);

    mainapp.controller("filterController", function ($scope) {
        $scope.data = {
            colors : [
                {color: "red",value: "#f00"},
                {color: "green",value: "#0f0"},
                {color: "blue",value: "#00f"},
                {color: "cyan",value: "#0ff"},
                {color: "magenta",value: "#f0f"},
                {color: "yellow",value: "#ff0"},
                {color: "black",value: "#000"}
            ],
        }
    })
</script>
</html>
